.beilagen {
  color: #323232;
  display: grid;
  margin: 120px 0;

  .beilagenText {
    grid-column: 1 / 2;
    margin-left: 10px;
    margin-right: 70px;

    h2 {
      font-weight: 800;
      font-size: 24px;
    }

    h1 {
      font-weight: 300;
      font-size: 80px;
      color: #d20000;
    }

    p {
      margin-bottom: 88px;
    }
  }
}

.configurator {
  border-top: 1px solid #d20000;
  padding-top: 6px;

  .auswahl {
    padding: 24px;
    font-weight: 800;
    font-size: 24px;
    color: #d20000;
    text-transform: uppercase;
  }

  .beilage {
    padding-left: 24px;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }

  .name {
    font-size: 20px;
    font-weight: 700;
  }

  .info {
    display: flex;
    align-items: center;

    .quantityPrice {
      display: flex;
      align-items: center;
    }

    .removeBtn {
      opacity: 0.5;
      cursor: pointer;
      transition: opacity 0.15s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    .quantitySelector {
      width: 76px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #f3f3f3;
      border-radius: 10px;
      margin-left: 5px;
    }

    span {
      font-size: 14px;
    }

    b {
      width: 55px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
    }

    @media (max-width: 820px) {
      b {
        display: none;
      }
    }
  }

  i {
    font-size: 14px;
  }

  button {
    width: 140px;
    height: 60px;
    border: 1px solid #f2f2f2;
    background: #d20000;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: #ffffff;
    cursor: pointer;

    &:disabled {
      background-color: #bebebe !important;
      cursor: default;
    }

    &:hover {
      background: lighten(#d20000, 5%);
    }

    &:active {
      background: darken(#d20000, 5%);
    }
  }

  @media (max-width: 920px) {
    button {
      width: 100px;
    }
  }
}

.beilagenImg {
  grid-column: 2 / 3;
}

@media (max-width: 1222px) {
  .beilagenImg {
    display: none;
  }
}
