.card {
  border: 1px solid #f3f3f3;
  padding: 30px;
  width: 220px;
  border-radius: 40px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }

  b {
    color: #d20000;
  }
}

.titel {
  font-weight: bold;
  font-size: 24px;
}

.info {
  font-size: 16px;
  font-style: italic;
  opacity: 0.6;
}

.button {
  background: #ffbd2f;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 42px;
  width: 141px;
  height: 45px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:disabled {
    background-color: #bebebe !important;
    cursor: default;
  }

  &:hover {
    background: lighten(#ffbd2f, 5%);
  }

  &:active {
    background: darken(#ffbd2f, 5%);
  }
}
