.sandwiches {
  color: #323232;
  display: flex;
  margin: 120px 0;

  .sandwichesText {
    grid-column: 1 / 2;
    margin-left: 10px;
    margin-right: 70px;

    h2 {
      font-weight: 800;
      font-size: 24px;
    }

    h1 {
      font-weight: 300;
      font-size: 80px;
      color: #d20000;
    }

    p {
      margin-bottom: 88px;
    }
  }
}

.configurator {
  border-top: 1px solid #d20000;
  padding-top: 6px;

  .auswahl {
    padding: 24px;
    font-weight: 800;
    font-size: 24px;
    color: #d20000;
    text-transform: uppercase;
  }

  .sandwich {
    padding-left: 24px;
  }

  .sandwichHeader {
    padding-bottom: 14px;
  }

  .itemName {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  label {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #d20000;
  }

  input {
    margin-bottom: 10px;
  }

  .name {
    font-size: 20px;
    font-weight: 700;
  }

  .preis {
    font-weight: 500;
    font-style: italic;
    padding-right: 10px;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 30px;

  .quantityPrice {
    display: flex;
    align-items: center;
  }

  .removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  .quantitySelector {
    width: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    margin-right: 10px;
  }

  b {
    width: 87px;
  }

  button {
    width: 180px;
    height: 60px;
    border: 1px solid #f2f2f2;
    background: #d20000;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    color: #ffffff;
    cursor: pointer;

    &:disabled {
      background-color: #bebebe !important;
      cursor: default;
    }

    &:hover {
      background: lighten(#d20000, 5%);
    }

    &:active {
      background: darken(#d20000, 5%);
    }
  }

  @media (max-width: 920px) {
    button {
      width: 100px;
      font-size: 16px;
    }
  }
}

.sandwichesImg {
  grid-column: 2 / 3;
}

@media (max-width: 1222px) {
  .sandwichesImg {
    display: none;
  }
}
