.footer {
  height: 90px;
  display: flex;
  background: #d20000;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 20px;
  padding: 0 120px;

  .footerLeft {
    display: flex;
  }

  .kontakt {
    padding-left: 66px;
  }
}
