.impressum {
  min-height: calc(100vh - 380px);
  margin: 100px 120px;
  color: #323232;

  h1 {
    margin-bottom: 80px;
    font-size: 60px;
    font-style: italic;
  }

  h3 {
    margin-bottom: 50px;
    font-size: 30px;
  }

  li {
    padding-bottom: 20px;
  }

  a {
    color: #323232;
  }
}
